{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/history.css') }}">
{% endblock %}

{% block head_script %}
{% endblock %}

{% block title %}歷史訂單{% endblock %}

{% block body %}
    <div id="order-container">
        <div id="order-headline">
            您好，<span id="username"></span>，已訂購的行程如下：
        </div>

        <div id="no-order">
            <div id="no-order-prompt">尚未購買行程</div>
        </div>

        <div id="order-content-all">
            <template class="order-template">
                <a class="order-content">
                    <div class="order-upper-section">
                        <div class="thin-text">訂單編號&#32;&#35;</div>
                        <div class="thin-text order-number"></div>
                    </div>

                    <div class="order-lower-section">
                        <div class="order-img">
                            <img src="" class="order-img-tag">
                        </div>
        
                        <div class="order-info">
                            <div class="order-name"></div>

                            <div class="inline-text order-address"></div>
        
                            <div class="order-detail">
                                <img src="/static/img/calendar.png" class="icon">
                                <div class="thin-font order-date"></div>
                            </div>
        
                            <div class="order-detail">
                                <img src="/static/img/clock.png" class="icon">
                                <div class="thin-font order-time"></div>
                            </div>
    
                            <div class="order-expense">
                                <div class="inline-text order-cost"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </template>
            
        </div>
    </div>
    
{% endblock %}

{% block body_script %}
    <script src="{{ url_for('static', filename='js/history.js') }}"></script>
{% endblock %}