{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block body %}
    <div id="welcome">
        <div id="wel-container">
            <div id="slogan-1">
                <div>輕鬆享受台北一日悠閒</div>
            </div>

            <div id="slogan-2">
                <div>探索每個角落，體驗城市的深度旅遊行程</div>
            </div>
            
            <form id="search-bar" autocomplete="off">
                <input type="text" placeholder="輸入景點名稱查詢" name="keyword" id="input-field">
                <button type="submit"><img src="{{ url_for('static', filename='img/icon_search.png') }}"></button>
            </form>
                
            <div id="category"></div>
        </div>

        <div id="hero-image">
            <img src="{{ url_for('static', filename='img/welcome.png') }}">
        </div>
    </div>
    
    
    <div class="attractions">
        <div class="grid-container">
        </div>
    </div>
{% endblock %}

{% block body_script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}