* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 

    position: relative;
}

#navigation {
    background-color: white;
    border-bottom: 1px solid #E8E8E8;

    width: 100vw;
    height: 54px;

    position: fixed;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

#nav-container {
    width: 92%;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    color: rgba(68, 136, 153, 1);
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    text-decoration: none;
}

#nav-right {
    position: relative;
}

.tooltip {
    position: absolute;
    width: 90px;
    height: 80px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;

    top: 42px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(219, 219, 219);

    position: absolute;
    left: 35px;
    bottom: 78px;
}

.inner-triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
    border-bottom: 8px solid white;

    position: absolute;
    left: -8px;
    bottom: -10px;
}

.tooltip a {
    font-weight: 500;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    text-decoration: none;
    padding: 5px;
}

.tooltip a:hover {
    text-decoration: underline;
}

.nav-button {
    border-style: hidden;
    background-color: white;
    color: rgba(102, 102, 102, 1);
    padding: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    cursor: pointer;
    text-decoration: none;
}

#overlay-trigger,
#logout {
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.25); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */

    display: none;
    justify-content: center;
}

.overlay-content {
    position: relative;
    top: 80px;
    height: max-content;
    width: 340px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup {
    display: none;
}

#prompt-section {
    display: none;
}

#message-content {
    font-weight: 500;
    font-size: 16px;
    padding: 30px;
    color: #666666;
}

.close-button {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 27px;
    right: 17px;
    cursor: pointer;
}

.decorated-bar {
    width: 100%;
    height: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.overlay-title {
    margin-top: 15px;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #666666;
}

#login-form,
#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-input {
    width: 310px;
    height: 47px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
}

.auth-submit {
    width: 310px;
    height: 47px;
    background: #448899;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.error-message {
    color: rgb(255, 16, 16);

    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

    display: flex;
    align-items: center;
    text-align: center;
}

#login-prompt,
#signup-prompt {
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-align: center;

    color: #666666;
}

#login-prompt:hover,
#signup-prompt:hover {
    text-decoration: underline;
}

.footer {
    background-color: rgba(102, 102, 102, 1);
    color: white;

    width: 100%;
    height: 104px;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-content {
    font-weight: 700;
    font-size: 16px;
}

.loading-section {
    background-color: white;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;

    z-index: 1000;
}

.lds-roller {
    width: 80px;
    height: 80px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(68, 136, 153, 1);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}