#welcome {
    width: 100vw;
    height: 320px;
    margin-top: 54px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wel-container {
    width: 92%;
    max-width: 1200px;

    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    z-index: 50;
}

#slogan-1,
#slogan-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slogan-1 {
    height: 41px;

    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

#slogan-2 {
    height: 22px;

    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #F8F8F8;

    margin-top: 15px;
    margin-bottom: 25px;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#input-field {
    height: 46px;
    background-color: white;
    border-style: hidden;
    border-radius: 5px 0 0 5px;
    box-shadow: 0px 0px 30px #aabbcc;
    display: inline;
    padding-left: 15px;

    font-weight: 500;
    font-size: 15px;
    line-height: 13px;
}

#input-field::placeholder {
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #757575;
}

#input-field:focus {
    outline: none !important;
    border: 2px solid #448899;
    /* box-shadow: 0 0 10px #448899; */
}

#search-bar button {
    width: 60px;
    height: 46px;
    border-style: hidden;
    background-color: #448899;
    border-radius: 0 5px 5px 0;

    cursor: pointer;
    display: inline;

    position: relative;
}

#search-bar button img {
    position: absolute;
    top: 8px;
    left: 15px;
}

#category {
    position: absolute;
    top: 163px;
    width: 90%;
    max-width: 400px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #aabbcc;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    visibility: hidden;
}

.category-grid {
    width: 100%;
    height: 40px;
    padding: 10px 15px;

    color: black;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

#hero-image {
    position: absolute;
    height: 100%;
    overflow: hidden;

    z-index: 40;
}

#hero-image img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    object-position: top left;
}

.attractions {
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 104px;

    display: flex;
    justify-content: center;

    flex: 1; 
}

.grid-container {
    padding: 15px;
    display: grid;
    gap: 30px;
    width: 92%;
    max-width: 1200px;

    font-weight: 500;
    font-size: 16px;
    color: #757575;
}

.per-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(232, 232, 232, 1);
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
}

.grid-pic-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 4/3;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.grid-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.grid-name-text {
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.grid-info-section {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    height: 45px;
    width: 100%;
    background-color: white;
}

.grid-mrt,
.grid-cat {
    font-weight: 500;
    font-size: 16px;
    color: #757575;
}

@media (min-width: 360px) and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #search-bar input {
        width: 70vw;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #search-bar input {
        width: 400px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #search-bar input {
        width: 400px;
    }
} 